option_settings:
  aws:elasticbeanstalk:environment:Process:default:
    LauncherType: launchtemplate  # Use Launch Templates instead of Launch Configurations
  aws:autoscaling:launchtemplate:
    LaunchTemplateName: my-EB-LaunchTemplate  # Replace with your desired launch template name
    IamInstanceProfile: ec2-beanstalk  # Ensure this is a valid IAM instance profile in your account
    SecurityGroups: sg-0491faf45b4514094  # Replace with your security group ID
    InstanceType: t3.micro  # Replace with your desired instance type
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 3
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: true
    RollingUpdateType: Health
    Timeout: PT30M
  aws:elasticbeanstalk:command:
    Timeout: 600
