option_settings:
  aws:elasticbeanstalk:environment:Process:default:
    LauncherType: launchtemplate
  aws:autoscaling:launchtemplate:
    LaunchTemplateName: my-EB-LaunchTemplate
    IamInstanceProfile: ec2-beanstalk
    SecurityGroups: sg-0491faf45b4514094  # Replace with your security group ID
    InstanceType: t3.micro  # Replace with your desired instance type
